<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :video_title %>
  </div>

  <div class="field">
    <%= form.label :media %>
    <%= form.file_field :media, id: :video_media %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :video_description %>
  </div>

  <div class="field">
    <%= form.label :country_status %>
    <%= form.check_box :country_status, id: :video_country_status %>
  </div>

  <div class="field">
    <%= form.label :country_rest %>
    <%= form.text_field :country_rest, id: :video_country_rest %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :video_user_id %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :video_duration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
